#body{
    padding-top: 65px;
    background-color:rgb(241,241,241);  
    
}
#pop-up-background.active{
    opacity:0.4;
}
 #pop-up-subscribe{
    font-family: serif;
    font-weight: 900;
    font-size:2rem;
    text-align:center;  
}
.close{
    margin-right:0.5rem;
    color: white;
    margin-bottom:0.3rem;
    font-size:20px;
    font-weight:800;
    font-family: serif;
}
#close{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:50%;
    border-radius: 2px;
    margin-top:0.8rem;
    margin-bottom:0.5rem;
    background-color:rgb(0, 89, 255);
    color:white;
    font-weight:600;  
}
#pop-up-text{
    text-align:center;
}
#pop-up-email{
    width:50%;
    border-radius: 2px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.popup-overlay{
    visibility:hidden;
    position: fixed; 
    background:#911e26;
    border:7px solid white;
    width:44%;
    left:28%;
    margin-top:65px; 
    color: #ffffff;
}
@media screen and (max-width:750px){
    .popup-overlay{
        width:90%;
        left:5%;
    }
}

.popup-overlay.active{
    visibility:visible;
    z-index:1;
}
  
.popup-content {
    visibility:hidden;
}
  
.popup-content.active {
    visibility:visible;
}
  
/*background-color:rgba(214, 219, 219, 0.884);*/
#glorify {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    color:white;
}
#login{
    color:white;
    background-color:rgba(69, 69, 69, 0.37);
}
#login:hover{
    background-color:yellow;
    color:black;
}
#navbar1 .fa {
    text-align: center;
    text-decoration: none;
    border-radius:10%;
    padding:10px;
}    
#navbar1 .fa-facebook {
    padding-left:13px;
    padding-right:12px;
    background-color:rgba(78, 78, 78, 0.37);
    color: white;
    opacity:0.8;
}
 #navbar1 .fa-facebook:hover {
     
    background: #3B5998;
    color: white;
    opacity:1;
}
 
#navbar1 .fa-twitter {
    background-color:rgba(78, 78, 78,0.37);
    opacity:0.8; 
    color: white;
}
#navbar1 .fa-twitter:hover {
    background: #55ACEE;
    color: white;
    opacity:1;
}
@media screen and (min-width:1050px){
    #navbar1{
        height:3.7rem;
        padding-left:6%;
        padding-right:6%;
    } 
}
@media screen and (max-width:1050px) and(min-width: 990px){
    #navbar1{
        height:3.7rem;
    } 
}
@media screen and (max-width:1050px){
    #navbar1{
        padding-left:3%;
        padding-right:3%;
    } 
}
 