{% extends "base_generic.html" %}
{% load static %}

{% block title %}
<title>Admin</title>
<link rel="stylesheet" href="{% static 'blogs/css/admindash.css' %}">
{% endblock %}




{% block content %}
<script src="https://code.jquery.com/jquery-2.1.3.js" integrity="sha256-goy7ystDD5xbXSf+kwL4eV6zOPJCEBD1FBiCElIm+U8=" crossorigin="anonymous"></script>
<span class="bckg"></span>
<header>
  <h1>Dashboard</h1>
  <nav>
    <ul>
      <li>
        <a href="{% url 'blogs:admindash' %}">All Posts</a>
      </li>
      <li>
        <a href="{% url 'blogs:pendingpost' %}">Pending Posts</a>
      </li>
      <li>
        <a href="{% url 'blogs:newpost' %}">New Posts</a>
      </li>
      <li>
        <a href="{% url 'main:logout' %}">Log Out</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2>{{ page_title }}</h2>
    <a href="{% url 'main:index' %}"><button>Home</button></a>
    <a href="{% url 'blogs:userdash' %}"><button>User Dashboard</button></a>
    <a href="{% url 'main:logout' %}">Hello {{ user }} !</a>

  </div>
  <div class="navigation">
    <a href="{% url 'blogs:admindash' %}"><button class="button button2">Blogs</button></a> <a href="{% url 'events:admindashevents' %}"><button class="button button2">Events</button></a> <a href="{% url 'polls:admindashpolls' %}"><button class="button button2">Polls</button></a>
  </div>

  <hr>
  <article class="larg">
    {% for blog in blogs  %}
    <div>
      <h3>{{ blog.title }}
        <a href="{% url 'blogs:bloglive' blog.id %}"><span><button type="button" class="btn btn-outline-success btn-sm" >Make Live</button></span>&nbsp;&nbsp;&nbsp;</a>
        <a href="{% url 'blogs:blogblock' blog.id %}"><span><button type="button" class="btn btn-outline-success btn-sm" >Block</button></span></a>
        <!-- <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label> -->
      </h3>
      <p>By : {{ blog.name }}</p>
      <p>{{ blog.content }}</p>
    </div>
    {% endfor %}
  </article>
</main>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



  <script  src="{% static 'blogs/js/admindash.js' %}"></script>


{% endblock %}
