@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Muli);

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Muli, sans-serif;
  color: #444;
}
ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}
a {
  cursor: pointer;
  display: block;
  color: #b3b3b3;
  text-decoration: none;
}
.bckg {
  background-color: #383B42;
  box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
h1 {
  text-align: center;
  font-weight: normal;
  color: #F6F6EF;
  line-height: 60px;
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #34363A;
  border-bottom: 1px solid rgba(101, 116, 134, 0.57);
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 3px;
  color: #919191;
  font-weight: normal;
  padding-left: 40px;
  line-height: 60px;
  text-shadow: 1px 1px 2px #fff;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
h2:before {
  content: '';
  width: 36px;
  height: 36px;
  position: absolute;
  left: -19px;
  top: 12px;
  background-color: #34363A;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
h3 {
  font-size: 17px;
  margin: 0;
  line-height: 40px;
  color: #555;
  cursor: pointer;
  position: relative;
}
header {
  width: 200px;
  height: 100%;
  float: left;
  position: relative;
  z-index: 99;
}
header nav ul li {
  border-bottom: 1px solid #42454D;
  padding-left: 48px;
  transition: all 0.6s;
  border-top: 1px solid #2E3036;
}
header nav ul li:hover {
  background-color: #454952;
  transition: all 0.6s;
  border-bottom: 1px solid #797979;
}
header nav ul li:hover a {
  color: #fff;
  transition: all 0.6s;
}
header nav ul li a {
  line-height: 55px;
  font-size: 18px;
  position: relative;
  letter-spacing: 1px;
  transition: all 0.6s;
}
header nav ul li a:before {
  font-family: 'entypo', sans-serif;
  font-size: 20px;
  position: absolute;
  left: -32px;
}
header nav ul li:first-child a:before {
  content: "\268f";
}
header nav ul li:nth-child(2) a:before {
  content: "\268f";
}
header nav ul li:nth-child(3) a:before {
  content: "\268f";
}
header nav ul li:nth-child(4) a:before {
  content: "\268f";

}
header nav ul li:nth-child(5) a:before {
  content: "\268f";
  }
header nav ul li:nth-child(6) a:before {
  content: "\268f";

}
main {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.title {
  background-color: #fff;
  border-bottom: 1px solid #C0C1C0;
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.title a {
  color: #AAA;
  width: auto;
  margin: 0 20px;
  float: right;
  line-height: 62px;
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
}
.title a:before {

  font-size: 38px;
  position: absolute;

  font-family: 'entypo';
}
a:hover {
  color: #33526B;
  transition: all 0.5s;
}
.larg {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 30px;
}
.larg div {
  background-color: #F7F7F7;
  border: 1px solid #E2E2E2;
  padding: 0 20px;
  margin: 15px 0;
}
.larg div:hover {
  background-color: #fafafa;
}
.larg div h3 span {
  font-family: 'entypo';
  font-size: 19px;
  position: absolute;
  right: 0;
  transition: all 0.6s;
}
.larg div h3 span.close {
  -webkit-transform: rotate(180deg);
  transition: all 0.5s;
}
.larg div p {
  display: none;
  margin-left: 10px;
  padding: 0 15px;
  border-left: 1px solid #ccc;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 3px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  position: absolute;


}

.slider.round:before {
  border-radius: 50%;
}
select {
  float: right;
  padding: 5px;
  position:relative;
  padding-top: 15px;

}
.button {
  background-color:#34363A;
  border: none;
  color: white;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5%;
  text-transform: uppercase;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.navigation{
  margin: 0 33%;

}

.navigation a{
  display: unset;
}
